In [39]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [40]:
train = pd.read_csv("C://Users//Rachit//Desktop//great learning - data science engineering//machine learning//competition//loan prediction//train.csv")
test = pd.read_csv("C://Users//Rachit//Desktop//great learning - data science engineering//machine learning//competition//loan prediction//test.csv")

In [41]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [46]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [47]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [7]:
train.Married.unique()

array(['No', 'Yes', nan], dtype=object)

In [8]:
train.Married.value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [9]:
train.Dependents.value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [10]:
train.Dependents.describe()

count     599
unique      4
top         0
freq      345
Name: Dependents, dtype: object

In [11]:
train.Self_Employed.value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [12]:
train.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [13]:
train.LoanAmount.value_counts()

120.0    20
110.0    17
100.0    15
187.0    12
160.0    12
128.0    11
113.0    11
130.0    10
96.0      9
95.0      9
70.0      8
115.0     8
112.0     8
150.0     7
135.0     7
136.0     7
132.0     7
125.0     7
104.0     7
80.0      6
81.0      6
138.0     6
90.0      6
158.0     6
116.0     6
175.0     6
144.0     6
155.0     6
180.0     6
152.0     5
         ..
315.0     1
101.0     1
73.0      1
142.0     1
48.0      1
164.0     1
83.0      1
191.0     1
166.0     1
495.0     1
59.0      1
214.0     1
240.0     1
72.0      1
42.0      1
349.0     1
280.0     1
405.0     1
279.0     1
304.0     1
650.0     1
436.0     1
78.0      1
54.0      1
89.0      1
570.0     1
300.0     1
376.0     1
117.0     1
311.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [14]:
train.LoanAmount.describe()

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [15]:
train.Loan_Amount_Term.value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [16]:
train.Loan_Amount_Term.describe()

count    600.00000
mean     342.00000
std       65.12041
min       12.00000
25%      360.00000
50%      360.00000
75%      360.00000
max      480.00000
Name: Loan_Amount_Term, dtype: float64

In [17]:
train.Credit_History.value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [18]:
train.Credit_History.describe()

count    564.000000
mean       0.842199
std        0.364878
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Credit_History, dtype: float64

In [19]:
train.Gender.describe()

count      601
unique       2
top       Male
freq       489
Name: Gender, dtype: object

In [20]:
train.Gender.describe()

count      601
unique       2
top       Male
freq       489
Name: Gender, dtype: object

In [45]:
train.Gender.fillna(value= "Male", inplace = True)
test.Gender.fillna(value= "Male", inplace = True)
train.Married.fillna(value = "Yes", inplace = True)
train.Dependents.fillna(value = 0, inplace = True)
test.Dependents.fillna(value = 0 , inplace = True)
train.Self_Employed.fillna(value = "No", inplace = True)
test.Self_Employed.fillna(value = "No", inplace = True)
train.LoanAmount.fillna(value = 120, inplace = True)
test.LoanAmount.fillna(value = 120, inplace = True)
train.Loan_Amount_Term.fillna(value = 360, inplace = True)
test.Loan_Amount_Term.fillna(value = 360, inplace = True)
train.Credit_History.fillna(value = 1, inplace = True)
test.Credit_History.fillna(value = 1, inplace = True)

# Some basic EDA

In [50]:
train.corr()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
ApplicantIncome,1.000000,-0.116605,0.564698,-0.046531,-0.018615,-0.004710
CoapplicantIncome,-0.116605,1.000000,0.189723,-0.059383,0.011134,-0.059187
LoanAmount,0.564698,0.189723,1.000000,0.037152,-0.000250,-0.031808
Loan_Amount_Term,-0.046531,-0.059383,0.037152,1.000000,-0.004705,-0.022549
Credit_History,-0.018615,0.011134,-0.000250,-0.004705,1.000000,0.540556
Loan_Status,-0.004710,-0.059187,-0.031808,-0.022549,0.540556,1.000000

# We need more columns in the analysis so that we can get a clearer picture on corelation in between columns so we will apply one hot encoding after dropping loan id column

In [49]:
le=LabelEncoder()
train["Loan_Status"] = le.fit_transform(train.Loan_Status)

In [51]:
newtrain = train.drop("Loan_ID", axis = 1)
newtest = test.drop("Loan_ID", axis = 1)

In [52]:
newtrain.shape

(614, 12)

In [53]:
newtest.shape

(367, 11)

In [55]:
ohe_train.shape

(614, 22)

In [56]:
ohe_train.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Loan_Status', 'Gender_Female',
       'Gender_Male', 'Married_No', 'Married_Yes', 'Dependents_0',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [57]:
ohe_test.shape

(367, 21)

In [58]:
ohe_test.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_0',
       'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [59]:
ohe_train.corr()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,...,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
ApplicantIncome,1.000000,-0.116605,0.564698,-0.046531,-0.018615,-0.004710,-0.058809,0.058809,-0.051708,0.051708,...,0.040861,-0.034650,0.156687,0.140760,-0.140760,-0.127180,0.127180,0.015829,-0.014246,-0.000598
CoapplicantIncome,-0.116605,1.000000,0.189723,-0.059383,0.011134,-0.059187,-0.082912,0.082912,-0.075948,0.075948,...,-0.029769,0.010016,0.041491,0.062290,-0.062290,0.016100,-0.016100,0.005329,-0.027044,0.022776
LoanAmount,0.564698,0.189723,1.000000,0.037152,-0.000250,-0.031808,-0.106404,0.106404,-0.146212,0.146212,...,0.061778,0.020367,0.152619,0.169436,-0.169436,-0.114971,0.114971,0.043570,-0.004730,-0.037259
Loan_Amount_Term,-0.046531,-0.059383,0.037152,1.000000,-0.004705,-0.022549,0.074030,-0.074030,0.100912,-0.100912,...,-0.088492,-0.010609,-0.077273,0.073928,-0.073928,0.033739,-0.033739,0.034321,0.059141,-0.094279
Credit_History,-0.018615,0.011134,-0.000250,-0.004705,1.000000,0.540556,-0.009170,0.009170,-0.010938,0.010938,...,0.009757,0.007987,-0.060473,0.073658,-0.073658,0.001550,-0.001550,-0.020906,0.035976,-0.016934
Loan_Status,-0.004710,-0.059187,-0.031808,-0.022549,0.540556,1.000000,-0.017987,0.017987,-0.091478,0.091478,...,-0.038740,0.062384,-0.026123,0.085884,-0.085884,0.003700,-0.003700,-0.100694,0.136540,-0.043621
Gender_Female,-0.058809,-0.082912,-0.106404,0.074030,-0.009170,-0.017987,1.000000,-1.000000,0.364569,-0.364569,...,0.004466,-0.129953,-0.096319,0.045364,-0.045364,-0.000525,0.000525,-0.080283,0.108623,-0.034530
Gender_Male,0.058809,0.082912,0.106404,-0.074030,0.009170,0.017987,-1.000000,1.000000,-0.364569,0.364569,...,-0.004466,0.129953,0.096319,-0.045364,0.045364,0.000525,-0.000525,0.080283,-0.108623,0.034530
Married_No,-0.051708,-0.075948,-0.146212,0.100912,-0.010938,-0.091478,0.364569,-0.364569,1.000000,-1.000000,...,-0.113853,-0.249547,-0.132566,0.012304,-0.012304,0.004489,-0.004489,0.006805,-0.005845,-0.000546
Married_Yes,0.051708,0.075948,0.146212,-0.100912,0.010938,0.091478,-0.364569,0.364569,-1.000000,1.000000,...,0.113853,0.249547,0.132566,-0.012304,0.012304,-0.004489,0.004489,-0.006805,0.005845,0.000546
Dependents_0,-0.005596,-0.029503,-0.034239,0.033405,-0.084677,-0.029798,0.007208,-0.007208,-0.026676,0.026676,...,-0.070631,-0.070216,-0.047628,-0.018553,0.018553,0.000101,-0.000101,-0.055084,0.006692,0.046370
Dependents_0,-0.090174,0.000949,-0.135799,0.106897,0.046697,0.006250,0.145082,-0.145082,0.353905,-0.353905,...,-0.505474,-0.502499,-0.340851,0.042065,-0.042065,0.087571,-0.087571,0.060830,-0.006225,-0.052410
Dependents_1,0.040861,-0.029769,0.061778,-0.088492,0.009757,-0.038740,0.004466,-0.004466,-0.113853,0.113853,...,1.000000,-0.198046,-0.134337,0.013355,-0.013355,-0.082044,0.082044,-0.084117,0.011661,0.069320
Dependents_2,-0.034650,0.010016,0.020367,-0.010609,0.007987,0.062384,-0.129953,0.129953,-0.249547,0.249547,...,-0.198046,1.000000,-0.133547,-0.020822,0.020822,-0.032434,0.032434,-0.004298,-0.012017,0.016569
Dependents_3+,0.156687,0.041491,0.152619,-0.077273,-0.060473,-0.026123,-0.096319,0.096319,-0.132566,0.132566,...,-0.134337,-0.133547,1.000000,-0.055288,0.055288,-0.003278,0.003278,0.040670,0.007863,-0.047460
Education_Graduate,0.140760,0.062290,0.169436,0.073928,0.073658,0.085884,0.045364,-0.045364,0.012304,-0.012304,...,0.013355,-0.020822,-0.055288,1.000000,-1.000000,-0.010383,0.010383,-0.077520,0.039410,0.034279
Education_Not Graduate,-0.140760,-0.062290,-0.169436,-0.073928,-0.073658,-0.085884,-0.045364,0.045364,-0.012304,0.012304,...,-0.013355,0.020822,0.055288,-1.000000,1.000000,0.010383,-0.010383,0.077520,-0.039410,-0.034279
Self_Employed_No,-0.127180,0.016100,-0.114971,0.033739,0.001550,0.003700,-0.000525,0.000525,0.004489,-0.004489,...,-0.082044,-0.032434,-0.003278,-0.010383,0.010383,1.000000,-1.000000,-0.022065,-0.008710,0.030338
Self_Employed_Yes,0.127180,-0.016100,0.114971,-0.033739,-0.001550,-0.003700,0.000525,-0.000525,-0.004489,0.004489,...,0.082044,0.032434,0.003278,0.010383,-0.010383,-1.000000,1.000000,0.022065,0.008710,-0.030338
Property_Area_Rural,0.015829,0.005329,0.043570,0.034321,-0.020906,-0.100694,-0.080283,0.080283,0.006805,-0.006805,...,-0.084117,-0.004298,0.040670,-0.077520,0.077520,-0.022065,0.022065,1.000000,-0.501646,-0.449168
Property_Area_Semiurban,-0.014246,-0.027044,-0.004730,0.059141,0.035976,0.136540,0.108623,-0.108623,-0.005845,0.005845,...,0.011661,-0.012017,0.007863,0.039410,-0.039410,-0.008710,0.008710,-0.501646,1.000000,-0.547574
Property_Area_Urban,-0.000598,0.022776,-0.037259,-0.094279,-0.016934,-0.043621,-0.034530,0.034530,-0.000546,0.000546,...,0.069320,0.016569,-0.047460,0.034279,-0.034279,0.030338,-0.030338,-0.449168,-0.547574,1.000000

In [60]:
#applying Standard scaler
sc = StandardScaler()

In [61]:
scaled_train = pd.DataFrame(sc.fit_transform(ohe_train), 
                            columns=ohe_train.columns)

scaled_test = pd.DataFrame(sc.fit_transform(ohe_test), 
                            columns=ohe_test.columns)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [62]:
scaled_train.shape

(614, 22)

In [63]:
scaled_test.shape

(367, 21)

In [64]:
#making a model
#first imputing d tree

d_tree = DecisionTreeClassifier(criterion = "entropy", max_depth = 3)

In [82]:
x = pd.DataFrame(scaled_train.drop("Loan_Status", axis = 1))
y = train.Loan_Status

In [83]:
#Fitting on d - tree
d_tree.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [84]:
predictions= d_tree.fit(x,y).predict(scaled_test)
print(predictions)

[1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1
 1 1 1 1 1 1 0 0 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0
 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1]

In [68]:
solution = pd.read_csv("C://Users//Rachit//Desktop//great learning - data science engineering//machine learning//competition//loan prediction//submission.csv")

In [69]:
solution.head()

    Loan_ID  Loan_Status
0  LP001015            0
1  LP001022            0
2  LP001031            0
3  LP001035            0
4  LP001051            0

In [70]:
loan_status = pd.DataFrame({"Loan_ID": solution.Loan_ID, 
                          "Loan_Status": predictions})

In [71]:
loan_status.to_csv("loan_status.csv", index = False)

# Using Random forest

In [72]:
rf=RandomForestClassifier()
prediction2=rf.fit(x,y).predict(scaled_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [73]:
print(prediction2)

[1 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 0 1 0 0 1 0 1 1 1 1
 0 0 0 1 1 0 1 1 0 1 0 1 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 0 0 0 1 1 0 1 1 1 1
 1 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 0 1 1 1 0 0
 1 0 1 1 1 0 1 1 1 1 1 0 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 1 1 1 1 1 1 1 0 1 1
 1 1 1 0 1 1 1 0 0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1
 1 1 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 0 1 0 1 0 1 0 1 1 0 1 0 1 1 1 1 0 0 1 1
 0 1 1 1 1 0 1 0 0 0 1 1 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 0 0 1
 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1
 1 1 0 0 1 1 0 1 1 0 0 1 1 0 1 1 1 1 0 1 1 0 1 0 1 0 1 1 1 1 1 1 0 1]

In [74]:
solution.head()

    Loan_ID  Loan_Status
0  LP001015            0
1  LP001022            0
2  LP001031            0
3  LP001035            0
4  LP001051            0

In [75]:
loan_status2 = pd.DataFrame({"Loan_ID": solution.Loan_ID, 
                          "Loan_Status": prediction2})

In [76]:
loan_status2.to_csv("loan_status2.csv", index = False)

In [77]:
cd

C:\Users\Rachit